body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

h1 {
    font-size: 60px;
    font-weight: bolder;
    color: #575757;
}

h2 {
    color: #575757;
    font-size: 40px;
}

h4 {
    color: #828282;
    font-size: 16px;
}

p {
    color: #828282;
    font-size: 18px;
    font-weight: lighter;
    margin-bottom: 80px;
    line-height: 0.8cm;
}

.name-color {
    color: #fc8b47;
}

.half {
    width: 50%;
}

.img2 img {
    width: 50%;
    padding-top: 70px;
    margin-left: 200px;
}

.size {
    margin-top: 130px;
    margin-left: 100px;
    /* line-height: 0.8cm; */
}

.button {
    text-decoration: none;
    cursor: pointer;
    padding: 20px 40px;
    background-image: linear-gradient(45deg, darksalmon, tomato);
    color: white;
    border: 1px solid;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 100px;

}

.first {
    display: flex;
    margin-bottom: 70px;
}

.second {
    display: flex;
    margin-bottom: 70px;
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


.title {
    width: 50%;
    text-align: center;
    margin-bottom: -60px;
    margin-left: 25%;

}

.items {
    display: flex;
    justify-content: center;
}

.box {
    width: 23%;
    margin: 20px 30px;
    border: 18px solid white;
    box-shadow: 1px 5px 30px gray;
    border-radius: 35px;
}

.image-box img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 25px;
    margin-bottom: 20px;

}

.box .text h2 {
    color: black;
    font-size: 30px;
}

.box2 {
    display: flex;
    justify-content: center;
    margin: 130px;
    border: 18px solid white;
    box-shadow: 1px 5px 30px gray;
    border-radius: 30px;
}

.followers {
    padding: 30px 100px;
    line-height: 0.2cm;
}

.content {
    display: flex;
    justify-content: center;
}

.box-review {
    width: 23%;
    margin: 20px 30px;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image-customer img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}

.text-review h4 {
    text-align: center;
}


.five {
    background-image: url(images/shapes/Frame\ 56.jpg);
    background-size: cover;
}

footer h2 {
    font-size: 30px;
    font-weight: lighter;
}

footer {
    background: #111;
    padding: 20px 40px 100px;
    text-align: center;
    line-height: 1.2cm;
}